@tailwind base;
@tailwind components;
@tailwind utilities;

.glowing-border {
    border: 2px solid #3b82f6;
    /* Tailwind blue-500 */
    box-shadow: 0 0 10px #3b82f6;
}

.header-fade {
    background: linear-gradient(to bottom, rgba(29, 78, 216, 1), rgba(29, 78, 216, 0) 90%);
}
